.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility:visible;
    opacity:1;
}

.botao-geral  {
    padding: 8px 14px;
    cursor:pointer;
    border: 2px solid ;
    box-shadow: 4px 4px 0 0;
    transition-duration: 0.2s;
  
}
  
.botao-geral:hover {
      border: 2px solid ;
      box-shadow: 0 0 0 0;
      cursor:pointer;
      transform: translate(2px,2px);
}

.login-signin{
    width:50%;
    margin-left: auto;
    margin-right:auto;
}

.login-signin-btn{
    display: flex;
    margin-top: 4rem;
    justify-content:space-evenly;
    flex-wrap: wrap;
}


@media (min-width: 770px){
    .popup{
        position: relative;
        margin: 5% auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
        width: 30%;
        transition: all 5s ease-in-out;
        align-content: center;
    }


    .popup .close {
        position: fixed;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left:10%;
    }

    .popup .close:hover {
        color: red;
    }

    .popup input{
        position: relative;
        margin-left:35%;
        margin-bottom: 3%;
    }

    input{
        width:40%;
        border: double red;
        right:7%;
    }

    #login-btn{
        justify-content: center;
        margin-top:7%;
        margin-left: 42%;
        padding:2%;
    }

    #registar-btn{
        justify-content: center;
        margin-top:7%;
        margin-left:42%;
        padding:2%;
    }

}

@media (max-width:769px) {

    .popup{
        position: relative;
        margin: 5% auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
        width: 70%;
        transition: all 5s ease-in-out;
        align-content: center;
    }


    .popup .close {
        position: fixed;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left:10%;
    }

    .popup .close:hover {
        color: red;
    }

    .popup input{
        position: relative;
        margin-left:35%;
        margin-bottom: 3%;
    }

    input{
        width:40%;
        border: double red;
        left:-5%;

    }

    #login-btn{
        justify-content: center;
        margin-top:7%;
        margin-left: 42%;
        padding:2%;
    }

    #registar-btn{
        justify-content: center;
        margin-top:7%;
        margin-left: 40%;
        padding:2%;
    }
}