@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

.logo {
    position: relative;
    left: 5%;
}

.perfil {
    position: relative;
    right:5%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
iframe {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 1%;

}
.nav_meio, .perfil {
    list-style: none;
    letter-spacing:0.15rem;
    font-size: 1rem;
}

.nav_meio a, .perfil a {
    color:black;
}

.nav_meio a:hover, .perfil a:hover {
    color:red;
}

.nav_meio li {
    display:inline-block;
    padding: 0rem 1.3rem;
}

.perfil li {
    display:inline-block;
}

h1 {
    text-align: center;
    font-size: 4.4rem;
    letter-spacing:0.6rem;
    margin-bottom: 0.3rem;
    margin-top:5%;                      /* 2rem */
    font-weight: 100;
}

h2 {
    text-align: center;
    letter-spacing:0.6rem;
    font-size:2.5rem;
    margin-top:0.15rem;
    font-weight: 100;
}

h3 {
    overflow: auto;
    text-align: center;
    letter-spacing:0.6rem;
    font-size:2.5rem;
    margin-top:2.5rem;
    font-weight: 100;
}

h4 {
    text-align: center;
    letter-spacing:0.6rem;
    font-size:1.5rem;
    margin:2.5rem 20rem 2.5rem 20rem;
    font-weight: 100;
}

.texto-informativo {
    text-align: justify;
    font-size:1rem;
    margin:2.5rem 20rem 2.5rem 20rem;
    font-weight: 100;
}

footer {
    position: absolute;
    margin-top: 3rem;
    left: 42.5%;
}

.gato_geral {
    position: fixed;
    margin-top: 3rem;
}

.gato_curiosidades {
    float: right;
    margin-top: 2rem;
}
.gato_regras {
    position:absolute;
    right: 3rem;
    top: 20rem;
}

.gato_tutorial {
    position:absolute;
    right: 10rem;
    top: 30rem;
}



video{
    display: block;
    margin: 2rem auto auto auto;
}