html{
    scroll-behavior: smooth;
}

h1 {
    text-align:center;
    font-size: 440%;
    letter-spacing: 60%;
    margin-left: 1%;                 
    font-weight: 100;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}


footer {
    grid-column: 1/2;
    grid-row: 2/3;
}


.gato-pontuacoes{
    position: relative;
        display:flex;
        list-style:none;
        letter-spacing:15%;
        font-size: 120%;
        justify-content: center;
        width: 100%;
}
    
.gato-pontuacoes li{
    display: inline-block;
    justify-content: center;
    padding: 0% 1.3rem; 
}
    
.gato-pontuacoes a{
    color:black;
}
    
.gato-pontuacoes a:hover{
    color:red;
}
    
.gato-conjunto{
    display:none;
    width: 75%;
}

.gato-pontuacoes li{
    display: inline-flex;
    justify-content: center;
    padding: 0% 1.3rem; 
    }

.gato-conjunto:target{
    display:flex;
}


.gato-tabela tr{
    height: 0%;
}

.gato-tabela td{
    text-align: center;
    border-bottom: 0.3rem double black;
}

.gato-tabela td:nth-child(1){
    width:5%;
}

.gato-tabela td:nth-child(2){
    width:10%;
}

.gato-tabela td:nth-child(3){
    width:10%;
}


.gato-tabela{
    border: none;
    border-collapse: collapse;
    height:80%;
    width:80%;
    margin-left:40%;
}

@media (max-width: 769px) {
    footer{
        left:40%;
        right:40%;
    }
}
    