html{
    scroll-behavior: smooth;
}


.gato-pontuacoes{
    position: relative;
    display:flex;
    list-style:none;
    margin-top:2%;
    letter-spacing:15%;
    font-size: 120%;
    justify-content: center;
    width: 100%;
}

.gato-pontuacoes li{
    display: inline-block;
    justify-content: center;
    padding: 0% 1.3rem; 
}

.gato-pontuacoes a{
    color:black;
}

.gato-pontuacoes a:hover{
    color:red;
}


.gato-conjunto{
    display:none;
    margin-top: 6%;
    width: 75%;
}

.gato-conjunto:target{
    display:block;
}


.gato-tabela{
    position: absolute;
    border: none;
    border-collapse: collapse;
    margin-left: 32%;
    margin-right: 20%;
}

.gato-tabela tr{
    height: 50px;
}

.gato-tabela td{
    text-align: center;
    border-bottom: 0.3rem double black;
}

.gato-tabela td:first-child{
    width:30%;
}

.gato-tabela td:first-child + td + td {
    width:50%;
}
