@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


iframe {
    width: 100%;
    height: 100%;
}


* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

.site-footer{
    background-color: #7f2323;
    padding: 100px;
}

div{ display: block;}