@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


iframe {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 1%;
}


* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

.navbar-logo {
    position: relative;
}

.logo a img {
    height: 40px;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:10%;
    padding:0 8%;
}

.navbar-list {
    width:100%;
    text-align: center;
}

.navbar-list li {
    display:inline-block;
    padding: 0% 1.3rem;
    list-style: none;
    letter-spacing:0.15rem;
    font-size: 100%;
}

.navbar-list li a {
    list-style: none;
}

.navbar-list li a {
    color:black;
}

.navbar-list li a:hover {
    color:red;
}

.perfil-dropdown{
    position:relative;
    display: inline-block;
    width:fit-content; 
}

.perfil-dropdown-btn{
    display:flex;
    width:15%;
    align-items:center;
    justify-content: space-between;
    cursor:pointer;
    list-style: none;
    letter-spacing:0.15rem;
    font-size: 100%;
}

.perfil-dropdown-btn:hover {
    color:red;
}

.perfil-dropdown-list {
    display: none;
    position:absolute;
    z-index:1;
    height:100%;
    width: 50%;
}


.perfil-dropdown-list a {
    position: absolute;
    display: inline-block;
    align-items: center;
    letter-spacing:0.15rem;
    font-size: 100%;
    font-weight: 200;
    color:black;
}

.perfil-dropdown:hover .perfil-dropdown-list {
    display:block;
}
