
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

h1 {
    text-align:center;
    font-size: 440%;
    letter-spacing: 60%;
    font-weight: 100;
    margin-bottom:1rem ;
}

h2 {
    text-align:center;
    font-size: 250%;
    letter-spacing: 60%;
    font-weight: 100;
    margin-top:0;
    margin-bottom: 2rem;
}


.cartas-meio{width:80%;
margin-left: auto;
margin-right:auto;}



.container {
    height:120px;
    width:120px;                                                       /* Nao consegui mudar */
    perspective:1000px;
}

.container img{
    width:100%;
}


.container:hover .card {
    transform:rotateY(180deg);
}


.card {
    height:100%;
    width:100%;
    transition: transform 2s;
    transform-style: preserve-3d;
    border-style: solid;
    border-image-width: auto;
    border-radius:5%;
}


.front, .back {
    height:100%;
    width:100%;
    position: absolute;
    backface-visibility:hidden;   
}


.back {
    transform:rotateY(180deg);
}


.naovira {
    height:100%;
    width:100%;
    border-style: solid;
    border-image-width: auto;
    border-radius:5%;
}


.caixa{width:50%;
    margin-left: auto;
    margin-right:auto;}

.caixa-botao{display: flex;
    margin-top: 4rem;
    justify-content:space-evenly;
    flex-wrap: wrap;

}

.botao  {
    padding: 8px 14px;
    cursor:pointer;
    border: 2px solid ;
    box-shadow: 4px 4px 0 0;
    transition-duration: 0.2s;
  
  }
  
  .botao:hover {
      border: 2px solid ;
      box-shadow: 0 0 0 0;
      cursor:pointer;
      transform: translate(2px,2px);
  }

  @media (max-width: 768px) {
    .cartas-meio{display: grid;
    grid-column: auto auto;}
}

    .linha_1 {
        display: flex;
        margin-top:1rem;
        height:100%;
        width: 100%;
        justify-content:space-evenly;
        flex-wrap: wrap;
        gap:1rem;
    }
    
    
    .linha_2 {
        display: flex;
        height:100%;
        width: 100%;
        justify-content:space-evenly;
        flex-wrap: wrap;
        margin-top:2rem;
        gap:1rem;
    
}
