.gato_geral {
    position: fixed;
    margin-bottom: 60%;
    margin-left: 70%;
    height:100%;
}

.gato_geral img {
    height:60%;
}

.gato_curiosidades {
    position: absolute;
    top:15%;
    right: 5%;
    left: 65%;
    height:100%
}

.gato_curiosidades img{
    height: 70%;
}

.gato_tutorial {
    position: absolute;
    top:45%;
    right: 20%;
    left: 65%;
    height:100%
}

.gato_tutorial img{
    height: 50%;
}

.gatos_nos {
    position: absolute;
    top:60%;
    right: 50%;
    left: 27%;
    height:100%
}

.gatos_nos img{
    height: 40%;
}

video{
    width: 50%;
    display: block;
    margin: 2% 20% 4% 5%;
}
