@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}


h1{text-align: center;
    font-size: 4rem;
    letter-spacing:0.2rem;
    font-weight: 100;
    margin:0;
}

.navegador{display:block;
}

#container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width:80%;
    margin:2rem auto auto auto;
}

.coluna {
    flex:30%;
    text-align: center;
    margin:1.5%;

}

#container img {
    width:60%;
}

.centro{padding-top:2rem;
padding-bottom:2rem;}


@media (max-width: 768px) {
    .coluna {
        flex-basis: 100%;
        margin-bottom: 2rem;

    }

    .centro{padding:1rem;}
}

.botao  {
  padding: 8px 14px;
  cursor:pointer;
  border: 2px solid ;
  box-shadow: 4px 4px 0 0;
}

.botao:hover {
    background-color: black;
    transition: 0.7s;
    color:white;
    cursor:pointer;
}