.foto-perfil{border-style: solid;
border-radius: 5px;
border-width: 5px;
width:11rem;
margin-left:auto;
margin-right:auto;}

.foto-perfil img{width:100%}


h1{text-align: center;
    font-size: 4rem;
    letter-spacing:0.2rem;
    font-weight: 100;
}

h2{margin-bottom: 0;}

.estatisticas, .ultimos{
    margin: 1rem auto 2rem auto;
    width:80%;
}
.estatisticas h2, .ultimos h2{text-align: center;
border-bottom-style: solid;
}

.caixa-estatisticas{display:grid;
grid-template-columns: auto auto;
}



.caixa-ultimos{display:grid;
grid-template-columns: auto auto auto ;
text-align: center;
}

.nome{font-weight: bold;}