h1 {
    text-align:center;
    font-size: 440%;
    letter-spacing: 60%;
    margin-left: 1%;                 
    font-weight: 100;  /* o quao escuro é o negrito */
}

h3 {
    overflow: auto;
    text-align: center;
    letter-spacing: 60%;
    font-size: 100%;
    margin-top: 2%;
    font-weight: 100;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility:visible;
    opacity:1;
}

@media (min-width: 770px){
    .popup{
        position: relative;
        margin: 5% auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
        width: 30%;
        transition: all 5s ease-in-out;
        align-content: center;
    }


    .popup .close {
        position: fixed;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left:10%;
    }

    .popup .close:hover {
        color: red;
    }

    .popup input{
        position: relative;
        margin-left:35%;
        margin-bottom: 3%;
    }

    .popup button{
        position:relative;
        width:6rem;
        margin-left:42%;
        background-color: black;
        color:white;
        border-style: solid;
        border-color:black;
        opacity: 0.2;
        border-radius: 5px;
        margin-top: 5%;
        cursor:pointer;
    }

    input{
        width:30%;
    }

    .gato_login {
        position: absolute;
        height:100%;
        left:2%;
    }

    .gato_login img{
        height:50%;
    }

    .gato_registar{
        position: absolute;
        height:100%;
        top:10%;
        left:58%;
    }

    .gato_registar img{
        height:90%;
    }
}

@media (max-width:769px) {

    .popup{
        position: relative;
        margin: 5% auto;
        padding: 20px;
        background: white;
        border-radius: 5px;
        width: 70%;
        transition: all 5s ease-in-out;
        align-content: center;
    }


    .popup .close {
        position: fixed;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left:10%;
    }

    .popup .close:hover {
        color: red;
    }

    .popup input{
        position: relative;
        margin-left:35%;
        margin-bottom: 3%;
    }

    .popup button{
        position:relative;
        width:6rem;
        margin-left:37%;
        background-color: black;
        color:white;
        border-style: solid;
        border-color:black;
        opacity: 0.2;
        border-radius: 5px;
        margin-top: 5%;
        cursor:pointer;
    }

    input{
        width:30%;
    }

    .gato_login {
        position: absolute;
        height:100%;
        left:2%;
    }

    .gato_login img{
        height:50%;
    }

    .gato_registar{
        position: absolute;
        height:100%;
        top:10%;
        left:58%;
    }

    .gato_registar img{
        height:90%;
    }
}