#container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width:90%;
    margin:auto;

}

.column {
    flex: 1 0 30%; /* Adjust width for 3 columns with space between */
    text-align: center;

}

.modos img {
    width:80%;
}

@media (max-width: 768px) {
    .column {
        flex-basis: 100%; /* Full width on smaller screens */
    }
    
}