@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
}

h1 {

    text-align:center;
    font-size: 440%;
    letter-spacing:60%;
    margin-top:5%; 
    margin-left: 1%;                 
    font-weight: 100;  /* o quao escuro é o negrito */
}

h2 {
    text-align: center;
    letter-spacing:60%;
    font-size:250%;
    margin-top:2%;
    font-weight: 100;
}
h3 {
    overflow: auto;
    text-align: centro;
    letter-spacing:60%;
    font-size:250%;
    margin-top:2%;
    font-weight: 100;
}
/*
h4 {
    text-align: center;
    letter-spacing:0.6rem;
    font-size:1.5rem;
    margin:2.5rem 20rem 2.5rem 20rem;
    font-weight: 100;
}
*/

.texto-informativo {

    text-align: center; 
    font-size:100%;
    margin-left: 20%;
    font-weight: 100;
    width: 60%;
}
footer {
    position: absolute;
    margin-top: 10%;
    left: 42.5%;
}