@media (min-width: 770px){
    h1 {
        text-align:center;
        font-size: 440%;
        letter-spacing: 60%;
        margin-left: 1%;                 
        font-weight: 100;
    }
    
    .box{
        width: 60%;
        margin: 0 auto;
        background-image: url("../Imagens/geral/gato_tutorial.jpg");
        background-position: center;
        background-repeat: repeat-x;
        background-size:contain;
        padding: 5% 7% 5% 7%;
        border-radius: 50px/50px;
        background-clip: padding-box;
        justify-items: center;
        margin-bottom:5%;
    }
    
    video{
        width: 80%;
        display: block;
        margin: 4% 15% 4% 10%;
    }
}

@media (max-width:769px) {
    h1 {
        text-align:center;
        font-size: 220%;
        letter-spacing: 60%;
        margin-left: 1%;                 
        font-weight: 100;
    }
    
    .box{
        width: 80%;
        margin: 0 auto;
        background-image: url("../Imagens/geral/gato_tutorial.jpg");
        background-position: center;
        background-repeat: repeat-x;
        background-size:contain;
        padding: 5% 10% 5% 10%;
        border-radius: 50px/50px;
        background-clip: padding-box;
        justify-items: center;
    }
    
    video{
        width: 100%;
        display: flex;
    }
}